*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-color: #000000;
    color: #fff;
    /* width:10vw; */
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #1f1e1e;
    align-items: center;
    
}
nav ul li{
    display: inline-block;
    margin: 20px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 18px;
}
#logo{
    margin: 12px 20px;
}
h3 span{
    color: red;
    font-size: 1.5rem;
}
nav ul li ::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#navbar{
    
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100; 
      
}
.header-text{
    margin-top: 12%;
    margin-left: 7%;
    font-size: 3.4rem;
    font-weight: bolder; 
}
.header-text span{
    color: red;
}
.bg-image img{
    width: 500px;
    height: 400px;
    margin-left:60% ;
    margin-top:-200px;
    transition: transform 0.3s ease;
}
.bg-image img:hover{
    transform: scale(1.1);
}
#about{
    padding: 80px 0px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left{
    flex-basis: 40%;
}
.left img{
    width: 100%;
    transition: transform 0.3s ease;
}
.left img:hover{
    transform: scale(1.1);
}
.right{
    flex-basis: 60%;
    width: 100%;
    margin-top: 80px;
    
}
.right h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff
}
.right p{
    color: rgb(163, 166, 168);
}

.tab{
    display: flex;
    margin: 20px 0px 40px;
}
.tablinks{
    margin-right: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  
}
.tablinks::after{
    content: '';
    width: 0%;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tablinks.activelinks::after{
    width: 50%;
}

.tab-contents ul li{
   list-style: none;
   margin:10px 0px;    
}
.tab-contents span{
    color: rgb(164, 52, 52);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

#services{
    display: flex;
    justify-content: start;
    padding: 30px 0;
    margin-left: 10%;
}
.services-list{
    margin-top: 110px;
    margin-right: 170px;
    width: 250px;
}

.titles h1{
    height:20px ;
    width: 20px;
    font-size: 4rem;
    font-weight: bold;
    
}
.services-list div{
    background: #262626;
    border-radius: 14px;
    padding: 20px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div  a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    display: inline-block;
}
.services-list div:hover{
    background:#ff004f;
    transform: translateY(-10px);
}

#portfolio{
    padding: 50px 0;
    margin-top: 80px;
}
.font{
    font-size: 50px;
}
.font_size{
    font-size: 20px;
}
.work-list{
    
        margin: 165px;
        display: flex;
        flex-direction: column;
        gap:40px;
}
.work{
    /* width: 400px;
    height: 250px; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    border-radius: 10px;
    width: 100%;
    display: block;
    height: 100%;
    transition: transform 0.5s;
}
.sub-title{
    font-size: 60px;
    font-weight: bold;
    width: 400px;
    position: relative;
    left: 155px;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;;
    font-size: 12px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: bold;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    
    position: relative;
    left: 41.3%;
    bottom: 75px;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}


.contact {
    right: -132px;
    position: relative;
    top: 25px;
    width: 400px;
}
.contact p{
    font-size: 18px;
    font-weight: 500;
    margin: 30px;
    
}
.contact p i{
    color: #ff004f;
    margin-right: 10px;
    font-size: 24px;
    
}
.contact a i{
    font-size: 35px;
    color: #ababab;
    transition: transform 0.5s;
    margin-top: 30px;
    margin: 10px;
    margin-left: 20px;
}
.contact a i:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    margin-top: 130px;
    margin-left: -370px;
    cursor: pointer;
    background: #ff004f;
}
.btn.btn2 a{
    text-decoration: none;
    color: #fff;

}
.contact-right{
    position: relative;
    left: 700px;
    bottom: 430px;
    width: 300px;
}


form input,form textarea{
    background: #262626;
    margin: 12px;
    outline: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
    border: 0;
    
}
#email{
width: 560px;
height: 40px;
}
#name{
    width: 560px;
    height: 40px;

}
#message{
    width: 560px;
    height: 200px;
}
.btn.btn3{
    position: relative;
    top: 30px;
    left: 18px;
    cursor: pointer;
    background: #ff004f;
}
.copyright{
    width: 100%;
    text-align: center;
    background: #262626;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    bottom: 370px;

}
.contact-panel{
    height: 10px;
}
#msg{
    position: relative;
    top: 45px;
    left: 20px;
    color: #61b752;
}
